:root {
    --die-size: 5rem;
}

.die-outer {
    display:block;
    margin-top: calc(0.5 * var(--die-size));
}

#die-element {
    transform-style: preserve-3d;
    transform: rotate3d(1,1,0, -15deg);
    font-size:25pt;
    text-align:center;
    position: relative;
    width: var(--die-size);
    height: var(--die-size);
    margin: calc(.25 * var(--die-size)) auto calc( .25 * var(--die-size)) auto;

    transition: 5s cubic-bezier(.25,.1,.25,1);
}

.face {
    display:flex;
    justify-content: center;
    align-items:center;
    width: var(--die-size);
    height: var(--die-size);
    position: absolute;
    border: 1px solid darkblue;
    color: #fafafa;
    opacity: 90%;
}
.top {
    transform: rotateX(90deg);
    margin-top: -50%;
    background-color: blue;
}
.right {
    transform: rotateY(90deg);
    margin-left: 50%;
    background-color: green;
}
.left {
    transform: rotateY(-90deg);
    margin-left: -50%;
    background-color: red;
}
.bottom {
    transform: rotateX(270deg);
    margin-top: 50%;
    background-color: orange;
}
.back {
    transform: translateZ(calc(-0.5 * var(--die-size))) rotateX(180deg);
    background-color: cyan;
}
.front {
    transform: translateZ(calc(0.5 * var(--die-size)));
    background-color: fuchsia;
}

#die-instruction {
    margin-bottom: 25px;
}
